<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='check.css') }}">
</head>
<body>
    <form action="/ping" method="post">
        <input type="text"  name="lien" placeholder="entrer le lien" required>
        <input type="number" name="paquets">

        <button type="submit" name="action" value="btn_pingeo">Pingeo</button>
        <button type="submit" name="action" value="btn_mtr">Tout tester</button>

    </form>
    <form action="/connexion" method="post">
        <button type="submit">Alefaso</button>
    </form>
    
</body>
</html>